@model SnowCrashBank.Models.Profile

@{
     ViewBag.Title = "Success";
     //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SUCCESS</title>
</head>
<body>
    <div>
      <h1>SUCCESS!</h1>
    </div>
</body>
</html>
