@{
    ViewBag.Title = "About SnowCrash Bank";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<p>This is not a real Bank Site this is a student project built for a class assignment!</p>
<p><a class="btn btn-default" href="https://github.com/bwwagner/ProjectSnowCrash">Project SnowCrash GitHub &raquo;</a></p>
