@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Indiana University Southeast<br />
    4201 Grant Line Rd.<br />
    New Albany, IN 47150<br />
    <abbr title="Phone">P:</abbr>
    555.867.5309
</address>

<address>
    <strong>Testing:</strong>   <a href="https://github.com/jeffschafer84">Jeffrey Schafer</a><br />
    <strong>Support:</strong> <a href="https://github.com/tcspal5892">Timothy Spalding</a><br />
    <strong>Marketing:</strong> <a href="https://github.com/bstratton283">John Stratton</a><br />
    <strong>Senior Citizen:</strong> <a href="https://github.com/bwwagner">Branden Wagner</a><br />
</address>