@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Snow Crash Banking</h1>
    <p class="lead">Welcome to Snow Crash Banking where we fill all your banking needs!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Snow Banking is a new Virtual Only Bankthat you can access at any time and any where.
        </p>
        <p><a class="btn btn-default" href= "/Profile/Create">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start a wire transfer today!</h2>
        <p>Nothing like sending money to friends!</p>
        <p><a class="btn btn-default" href="https://github.com/bwwagner/ProjectSnowCrash">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warning:</h2>
        <p>This is not a real Bank Site this is a student project built for a class assignment!!</p>
        <p><a class="btn btn-default" href="http://ius.edu">School Site &raquo;</a></p>
    </div>
</div>