@{
    ViewBag.Title = "Home Page";
}


<div>
    <div id="homepageCarousel" class="jumbotron carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="homepageCarouselBackground">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h1>Snow Crash Banking</h1>
                    <p class="lead">Welcome to Snow Crash Bank where we fill all your banking needs!</p>
                </div>
                <div class="item">
                    <h1>Snow Crash Banking</h1>
                    <p class="lead">Easy Account Sign Up</p>
                </div>
                <div class="item">
                    <h1>Snow Crash Banking</h1>
                    <p class="lead">Convenient Locations Near You!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#homepageCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#homepageCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>

<!--Bottom row-->
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Snow Banking is a new Virtual Bank that you can access at any time and anywhere.
        </p>
        <p><a class="btn btn-default" href= "/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start a wire transfer today!</h2>
        <p>Nothing like sending money to friends!</p>
        <p><a class="btn btn-default" href= "/Banking/Transfer">Transfer Funds &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warning:</h2>
        <p>This is not a real Bank Site this is a student project built for a class assignment!!</p>
        <p><a class="btn btn-default" href= "http://ius.edu">School Site &raquo;</a></p>
    </div>
</div>